.cred-row{
    margin: 20px auto;
    width: 30%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
   align-items: center;
    border:2px solid green;

}
.cred-row button{
    height: 40px;
}