/* styles.css */

.app{
  height: 100vh;
  }
  
  .item .light{
    color:black;
    background-color: white;
  }
  .item.dark {
    color: white;
  }
  .app ul {
    list-style-type: none;
    padding:30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .app.light {
    background-color: #ffffff;
  }
  
  .app.dark {
    background-color: #222222;
  }
  
  .heading.light {
    color: #333333;
  }
  
  .heading.dark {
    color: #ffffff;
  }
  