.navbar-container{
    width: 100%;
    border:2px solid green;
    height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
}
.menu-list{
    width: 40%;
    border:2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 21px;
}
th {
    padding: 10px;
    background-color: antiquewhite;
}